<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82758821215-rh8jd15f381ui0k5r3pf4dttdj8l6bup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82758821215-rh8jd15f381ui0k5r3pf4dttdj8l6bup</string>
	<key>API_KEY</key>
	<string>AIzaSyAqqdjHhgKJ0W-QVRpmGwiXlFDj5Si_gHg</string>
	<key>GCM_SENDER_ID</key>
	<string>82758821215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wesley-Yu.WhatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-7c7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-7c7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82758821215:ios:ff432062708f78cf4802ea</string>
</dict>
</plist>